.search-box{
    background-color:rgba(0,0,0,0.5);
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
}

.search-box>*{
    color: white;
}

.wrap{
    background: url(1.jpg) no-repeat center  ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 17px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.submit-btn-home{
    align-self: flex-end;
    height: 40px;
    padding: 7px;
    background-color: #f08484;
    border: none;
    border-radius: 5px;
    font-weight: 900;
}
