<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-image: url('https://images.unsplash.com/photo-1544620347-c4fd4a3d5957?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YnVzfGVufDB8fDB8fA%3D%3D&w=1000&q=80');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <title>
        conatct us
    </title>
</head>

<body>

<h1 style="color:red;">Contact us</h1><br>
<p>
<h2 style="color:black" ;>
    Customercare number:18002086633
</h2>

</p>
</body>

</html>
