
{% extends 'root.html' %}
{% load static %}
{% block title %}
    Sign In
{% endblock %}
 {% block css %} {{block.super}}
<link href="{% static 'css/login.css' %}" rel="stylesheet" />
{% endblock %} 
{% block form %}
<div class="full-wrap">
<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<form action="/login/?next=/home"
              method="POST" class="sign-in-htm">
              {% csrf_token %}
              {% if pswderr %}
                <div class=" text-danger text-center" role="alert">
                    <i class="fa fa-exclamation-circle"></i> {{ pswderr }}
                </div>
            {% endif %}
				<div class="group">
					<label for="user" class="label">Username</label>
					<input name="email" id="user" type="text" class="input">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input name="password" id="pass" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign In">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="#forgot">Forgot Password?</a>
				</div>
            </form>
			<form action="/signup/?next=/signup_succ" method="POST" class="sign-up-htm">
            {% csrf_token %}
              {% if pswderr %}
                <div class=" text-danger text-center" role="alert">
                    <i class="fa fa-exclamation-circle"></i> {{ pswderr }}
                </div>
            {% endif %}
				<div class="group">
					<label for="user" class="label">Username</label>
					<input name="username" id="user" type="text" class="input">
				</div>
                <div class="group">
					<label for="email" class="label">Email</label>
					<input name="email" id="email" type="text" class="input">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" name="password" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<label for="pass" class="label">Repeat Password</label>
					<input name="password retype" id="pass" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign Up">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<label for="tab-1">Already Member?</a>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
          
      {% endblock %}
